/* *代表作用于所有组件*/
*{
/*背景设置为黑色，移除所有组件的边框，设置前景颜色（如文本颜色）为白色*/
    background-color: #202129;
    border: none;
    color: white;
}

/*鼠标悬浮在按钮上时按钮变成青色*/
QPushButton:hover {
    color: Cyan;
}

/*鼠标按下时按钮变成军蓝色*/
QPushButton:pressed {
    color: CadetBlue;
}

/*鼠标悬浮在关闭按钮上时关闭按钮变成番茄色*/
QPushButton#CloseBtn:hover {
    color: Tomato;
}

/*鼠标按下关闭按钮时关闭按钮变成红色*/
QPushButton#CloseBtn:pressed{
    color: red;
}

/*设置该窗口的字体颜色为灰色*/
QLabel#MovieNameLab {
    color: #c4c6d2
}
